* {
  font-size 12px;
  font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;
}

pre {
  font-family:'Bitstream Vera Sans Mono', Courier, monospace;
  font-size: 12px;
  background-color: #EEE;
  padding:10px;
  overflow: auto;
}

#console {
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  -o-border-radius     : 5px;
  border-radius        : 5px;
  border : 1px solid  #C6C6C6;
  outline: none;
  padding:10px;
  display: block;
  width  : 80%;
  margin: 10px auto 10px auto;
}

.invalid {
  border-color: #fbc2c4 !important;
}

#output {
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  -o-border-radius     : 5px;
  border-radius        : 5px;
  border : 1px solid  #C6C6C6;
  width  : 80%;
  margin : 10px auto 10px auto;
}

h1, h2, h3, h4, h5, p {
  text-align: center;
}

p {
  color: #849EAA;
}
a {
  text-decoration: none;
  color: #4183C4;
}

